Package: com.greeny.classicsiri
Name: ClassicSiri
Depends: mobilesubstrate, firmware (>=7.0)
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: GreenyDev <greenydev@greenmail.net.au>
Author: GreenyDev <greenydev@greenmail.net.au>
Section: Tweaks
Version: 0.0.1-97
Installed-Size: 384
