<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>adiutorHeaderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.greeny.adiutor</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.greeny.adiutor/prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.greeny.adiutor</string>
			<key>key</key>
			<string>showStatusBar</string>
			<key>label</key>
			<string>Show StatusBar</string>
			<key>PostNotification</key>
			<string>com.greeny.adiutor/prefsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.greeny.adiutor</string>
			<key>key</key>
			<string>fullScreenFirst</string>
			<key>label</key>
			<string>Invoke in Fullscreen First</string>
			<key>PostNotification</key>
			<string>com.greeny.adiutor/prefsChanged</string>
		</dict>		
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.greeny.adiutor</string>
			<key>key</key>
			<string>showHelpButton</string>
			<key>label</key>
			<string>Show Help Button</string>
			<key>PostNotification</key>
			<string>com.greeny.adiutor/prefsChanged</string>
		</dict>
		        		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.greeny.adiutor</string>
			<key>key</key>
			<string>removeBlur</string>
			<key>label</key>
			<string>Remove Blur</string>
			<key>PostNotification</key>
			<string>com.greeny.adiutor/prefsChanged</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerText</key>
            <string>This setting will only take place with 'Remove Blur' on. Anything above 1.0 is completely black, 0 is completely transparent. I'd recommend something around 0.7 for legibility.</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>.75</string>
			<key>isDecimalPad</key>
			<true/>
			<key>defaults</key>
			<string>com.greeny.adiutor</string>
			<key>suffix</key>
			<string>.</string>
			<key>key</key>
			<string>tintAlpha</string>
			<key>label</key>
			<string>Darken Amount</string>
			<key>PostNotification</key>
			<string>com.greeny.adiutor/prefsChanged</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerText</key>
            <string>Pressing the help button invokes fullscreen</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.greeny.adiutor</string>
			<key>key</key>
			<string>helpInvokesFullScreen</string>
			<key>label</key>
			<string>Help Invokes Fullscreen</string>
			<key>PostNotification</key>
			<string>com.greeny.adiutor/prefsChanged</string>
		</dict>
						 <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerText</key>
            <string>Replace the help button with the fullscreen button</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.greeny.adiutor</string>
			<key>key</key>
			<string>replaceHelpButtonWithFullscreenButton</string>
			<key>label</key>
			<string>Replace Help Button</string>
			<key>PostNotification</key>
			<string>com.greeny.adiutor/prefsChanged</string>
		</dict>
		 <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerText</key>
            <string>Height of Siri - 0.00 is fullscreen</string>
            <key>footerAlignment</key>
            <integer>1</integer>
        </dict>
		<dict>
			<key>showValue</key>
			<true/>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>PostNotification</key>
			<string>com.greeny.adiutor/prefsChanged</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.5</real>
			<key>defaults</key>
			<string>com.greeny.adiutor</string>
			<key>key</key>
			<string>heightOfSiri</string>
		</dict>
       <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerText</key>
            <string>If you have any issues, please contact me via email inside of Cydia.</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>adiutorCreditsController</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
	</array>
	<key>title</key>
	<string>Adiutor</string>
</dict>
</plist>
